[flake8]
max-line-length = 160
per-file-ignores =
    ./dbus-serialbattery/utils.py: E501
exclude =
    ./dbus-serialbattery/bms/mnb_test_max17853.py,
    ./dbus-serialbattery/bms/mnb_utils_max17853.py,
    ./dbus-serialbattery/bms/revov.py,
    ./dbus-serialbattery/ext/
extend-ignore:
    # E203 whitespace before ':' conflicts with black code formatting. Will be ignored in flake8
    E203
