# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
logs/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Custom for this repo
.DS_Store
dbus-serialbattery/config.ini
venus-data.tar.gz
